.reservation {
  padding: 9.87rem 0 10.58rem;
  background: var(--beige);
  text-align: center;
}
.reservation-title {
  margin-bottom: 18px;
}
.reservation-text {
  margin-bottom: 5.5rem;
}
.reservation-form-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 5.5rem;
}
.reservation-input {
  padding: 0.83rem 1.66rem;
  background: transparent;
  border: 1px solid var(--dark-green);
  color: var(--dark-green);
  &::placeholder {
    color: #000;
  }
}

.reservation-form-btn {
  background: var(--dark-green);
  color: var(--white);
  font-family: 'Rufina';
  font-weight: 700;
  font-size: 1.33rem;
  padding: 0.83rem 3.91rem;
  max-width: 344px;
}
.reservation--contacts-page {
  .reservation-form-inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .reservation-input--wide {
    grid-column: 1 / 3;
  }
}
@media (max-width: 700px) {
  .reservation-form-inner {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 600px) {
  .reservation--contacts-page {
    .reservation-form-inner {
      grid-template-columns: repeat(1, 1fr);
    }
    .reservation-input--wide {
      grid-column: 1 / 2;
    }
  }
  .reservation--contacts-page {
    padding: 3rem 0px;
  }
}
