.post-page {
  padding: 5.33rem 0;
  .breadcrumbs-wrapper {
    justify-content: center;
    color: var(--light-gray);
    margin-bottom: 4.4rem;
    .active-page {
      color: var(--dark-grey);
    }
  }
}
.post-page-descr {
  font-size: 1.33rem;
  font-weight: 700;
  font-family: 'Rufina';
  margin-bottom: 4.4rem;
}
.post-page-images-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  margin-bottom: 4.4rem;
}

.post-page-text {
  margin-bottom: 4.4rem;
}
.post-page-quote-wrapper {
  background: url(../../images/single-post-no-sb/quote-bg.avif) center center
    no-repeat;
  padding: 7.2rem 0 8.4rem;
  margin-bottom: 4.4rem;

  .testimonials-text {
    font-size: 1.58rem;
    margin-left: 0;
    color: var(--white);
    &::after {
      right: 0;
      top: -22px;
      z-index: 3;
      background: url(../../icons/quotes2.svg) no-repeat;
    }
  }
}
.related-posts {
  text-align: center;
  padding: 5.33rem 0;
}
.related-posts-title {
  margin-bottom: 5.33rem;
}
