.starters {
  padding: 122px 0 140px;
  text-align: center;
  background: url(../icons/Blueberry-starters-bg.svg) no-repeat right top;
}

.starters-title {
  margin-bottom: 18px;
}

.starters-text {
  margin-bottom: 81px;
  color: var(--dark-grey);
  font-family: 'Rufina';
  font-size: 1rem;
}

.starters-wrapper {
  display: flex;
  gap: 6%;
}

.starters-img {
  width: 49%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
