.story {
  padding: 9.08rem 0 12.5rem;
  background: url(../icons/Tomato.svg) center top 81px / 277px no-repeat;
}

.story-wrapper {
  display: flex;
  align-items: center;
  gap: 4.85%;
  row-gap: 2rem;
}

.story-wrapper--1 {
  padding-bottom: 4.8rem;
  .story-inner {
    padding-left: 2.5rem;
    text-align: left;
  }
  .story-text {
    margin-top: 18px;
  }
}

.story-wrapper--2 {
  padding-top: 6.75rem;
  .story-text {
    align-self: flex-start;

    margin-right: auto;
    padding-top: 6.66rem;
    width: 31%;
  }
}

.story-wrapper--3 {
  margin-top: -24.5%;
  .story-text {
    align-self: flex-end;
    text-align: right;
    margin-left: auto;
    width: 31%;
  }
}

.story-inner {
  text-align: center;
  width: 47.5%;
}

.story-img {
  max-width: 792px;
  width: 49%;
}

.story-rank {
  margin-bottom: 24px;
}
.story-name {
  margin-bottom: 24px;
}

@media (max-width: 842px) {
  .story {
    background: none;
    padding: 4rem 0;
  }
  .story-wrapper {
    flex-direction: column;
  }
  .story-img {
    width: 100%;
  }
  .story-stuff-img {
    aspect-ratio: 1 /0.7;
    object-fit: cover;
    object-position: top;
  }
  .story-inner {
    width: 100%;
  }
  .story-text {
    width: 100% !important;
    text-align: center !important;
  }
  .story-wrapper--1 {
    .story-inner {
      padding-left: 0;
      text-align: center;
    }
  }
  .story-wrapper--2 {
    padding-top: 0;
    .story-text {
      padding-top: 0;
    }
  }
  .story-wrapper--3 {
    margin-top: 4.8rem;
    flex-direction: column-reverse;
  }
}
